---
layout: content
---

<h2>Projects</h2>

<div class="row">
  <div class="col-sm-6 col-xs-12">
    {% include project.html
         screenshot='assets/flashcards.png'
         name='Flashcards'
         description='A single-page app that helps users study any subject through spaced repetition. <em>React, Jest, Enzyme, Rails</em>.'
         repo='flashcards-client'
         url='https://groundberry.github.io/flashcards-client/'
     %}
  </div>
  <div class="col-sm-6 col-xs-12">
    {% include project.html
         screenshot='assets/flickr-client.png'
         name='Flickr Search'
         description='A responsive single-page app that queries Flickr for cute photos. <em>React, Sinatra</em>.'
         repo='flickr-client'
         url='https://groundberry.github.io/flickr-client/'
     %}
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-xs-12">
    {% include project.html
         screenshot='assets/pomodoro.png'
         name='Pomodoro'
         description='This project is part of the Free Code Camp&apos;s front-end track. <em>React, Jest, Enzyme</em>.'
         repo='react-pomodoro'
         url='https://groundberry.github.io/react-pomodoro/'
     %}
  </div>
  <div class="col-sm-6 col-xs-12">
    {% include project.html
         screenshot='assets/calculator.png'
         name='Calculator'
         description='This project is part of the Free Code Camp&apos;s front-end track. <em>React, Jest, Enzyme</em>.'
         repo='react-calculator'
         url='https://groundberry.github.io/react-calculator/'
     %}
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-xs-12">
    {% include project.html
         screenshot='assets/css-playground.png'
         name='CSS Playground'
         description='An easy-to-use HTML and CSS editor with live preview. <em>React, Jest, Enzyme</em>.'
         repo='CSS-playground'
         url='https://css-play.herokuapp.com'
     %}
  </div>
</div>
