/**
 * Extra styles
 */

.home {
  background-image: linear-gradient($gradient-rotation, $brand-primary ($font-size-base * 9), transparent ($font-size-base * 9 + 1));
}

.jumbotron {
  background-color: transparent;
  text-align: center;

  ol, ul {
    font-size: $jumbotron-font-size;
  }

  img {
    border: 5px solid $brand-primary;
    max-width: 10em;
  }
}

// Social links

.social {
  .social--icon {
    vertical-align: middle;
  }

  svg {
    height: ($font-size-base * 1.25);
    width: ($font-size-base * 1.25);
  }

  path {
    fill: $link-color;
  }
  a:hover path {
    fill: $link-hover-color;
  }
}

// Timeline

.timeline--entry {
  margin: 1em 0;
}

.timeline--link {
  display: block;
  padding: 1em;
  border: 1px solid $list-group-border;
  border-left-width: 5px;
  border-radius: $list-group-border-radius;
}

.timeline--time {
  color: $gray-light;
}

@media screen and (min-width: $screen-sm) {
  .timeline {
    position: relative;
  }
  .timeline::before {
    background: $list-group-border;
    content: '';
    margin-left: -2px;
    position: absolute;
    top: 5px;
    left: 50%;
    height: 100%;
    width: 4px;
  }

  .timeline--entry {
    margin: 2em 0;
    position: relative;
  }
  .timeline--entry::before {
    border: 10px solid transparent;
    border-left-color: $list-group-border;
    content: '';
    position: absolute;
    top: 5px;
    left: 45%;
    height: 0;
    width: 0;
  }
  .timeline--entry:nth-child(even)::before {
    border-right-color: $list-group-border;
    border-left-color: transparent;
    left: auto;
    right: 45%;
  }

  .timeline--link {
    width: 45%;
  }
  .timeline--entry:nth-child(even) .timeline--link {
    float: right;
    border-left-width: 1px;
    border-right-width: 5px;
  }

  .timeline--dot {
    background-color: $link-color;
    border-radius: 50%;
    margin-left: -10px;
    position: absolute;
    top: 5px;
    left: 50%;
    height: 20px;
    width: 20px;
  }
  .timeline--link:hover .timeline--dot {
    background-color: $link-hover-color;
  }

  .timeline--time {
    position: absolute;
    top: 0;
    left: 55%;
  }
  .timeline--entry:nth-child(even) .timeline--time {
    right: 55%;
    left: auto;
  }

  .timeline--title {
    margin: .5em 0;
  }
}

// Previous/next links

.post-navigation {
  font-size: $font-size-small;
}

.post-navigation--prev,
.post-navigation--next {
  display: block;
  margin-top: 2em;
}

.post-navigation--next {
  text-align: right;
}
