<ul class="social list-inline">
  {% include icon-portfolio.html %}

  {% if site.email %}
  <li>
    {% include icon-email.html username=site.email %}
  </li>
  {% endif %}

  {% if site.github_username %}
  <li>
    {% include icon-github.html username=site.github_username %}
  </li>
  {% endif %}

  {% if site.twitter_username %}
  <li>
    {% include icon-twitter.html username=site.twitter_username %}
  </li>
  {% endif %}

  {% if site.linkedin_username %}
  <li>
    {% include icon-linkedin.html username=site.linkedin_username %}
  </li>
  {% endif %}
</ul>
